git+https://github.com/microsoft/VibeVoice.git
git+https://github.com/huggingface/peft.git
transformers-stream-generator
huggingface_hub
qwen-vl-utils
pyvips-binary
sentencepiece
opencv-python
docling-core
transformers
python-docx
torchvision
supervision 
matplotlib
accelerate
pdf2image
reportlab
markdown
requests
librosa
pymupdf
hf_xet
spaces
pyvips
pillow
gradio
einops
httpx
torch
fpdf
timm
av